<!DOCTYPE html>

<hmtl>
  <head>
    <meta charset="utf-8" />
    <meta content="initial-scale=1, width=device-width" name="viewport" />

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <link href="/static/styles.css" rel="stylesheet" />

    <title>{% block title %}{% endblock %} - Asistente</title>
  </head>

  <body>
    <nav class="navbar navbar-default box-shadow--small" role="navigation">
      <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Desplegar botones</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="/">Asistente</a>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav">
            <li><a class="panel-heading" href="/forecasting">Pronósticos</a></li>
	  </ul>
	</div>
      </div>
    </nav>
    
    {% block content %}{% endblock %}

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </body>
</html>
